{% extends "base.html" %}

{% block title %}about{% endblock %}


{% block content %}
<style>
    /* Internal CSS */
    body {
        font-family: 'Open Sans', sans-serif;
        background-color: #f7f7f7;
    }
    .container {
        max-width: 800px;
        margin: 40px auto;
        padding: 20px;
        background-color: #fff;
        border: 1px solid #ddd;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }
    .about-content {
        padding: 20px;
    }
    .about-content p {
        margin-bottom: 20px;
    }
    .about-content h2 {
        font-weight: bold;
        margin-top: 0;
    }
    .signature {
        font-size: 18px;
        font-style: italic;
        text-align: right;
    }
</style>
<p>welcom to the ray project</p>
<p>this is the dummy page for the demo app</p>
<p>developed by Amir alasady</p>
<p>hope you find use and value with the app and use it whisle</p>
<p>Note: feel free to navigate the app and dont take us for granted this is just an alpha frontend for are backend system</p>
<p>feel free to develop your own frontend with any framework by following the apis provided below</p>
<p>Note: this frontend client is just a simple 'fixed' head for are headless api system, that uses a base account 'test_email@test.com'</p>
<p>the auth pages 'sighn up, login' are jus ta demp showcase for the api system that can be used in a custom way</p>
<p>thank you and have fun</p>
{% endblock %}