body {
  font-family: 'Montserrat', sans-serif;
  background-color: #333;
  color: #fff;
  transition: background-color 0.3s ease;
}

header {
  background-color: #444;
  padding: 1rem;
  text-align: center;
}



nav li {
  margin-right: 2rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ccc;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.message-box {
  background-color: #007bff;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  transition: background-color 0.3s ease;
}

.message-box:hover {
  background-color: #0069d9;
}

.copy-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.copy-btn:hover {
  background-color: #0069d9;
}

form {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  padding: 1rem;
  border-top: 1px solid #666;
  transition: opacity 0.3s ease;
}

form input[type="text"], form select {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  transition: border-color 0.3s ease;
}

form button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button[type="submit"]:hover {
  background-color: #0069d9;
}